.form-modal {
  width: 40%;
  height: 90vh;
  @media only screen and (max-width: 768px) {
    width: 100%;
    height: 100vh;
  }
  @media only screen and (min-width: 768px) and (max-width: 1150px) {
    width: 60%;
  }
}

.form-modal__container {
  background: white;
  padding: 0 40px;
  @media only screen and (max-width: 768px) {
    padding: 0 30px;
  }
}

.form-modal__legend {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
  color: $dark_pink;
  padding: 20px;
  padding-bottom: 10px;
  @media only screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 21px;
  }
  @media only screen and (min-width: 1150px) {
  }
  @media only screen and (min-width: 2150px) {
  }
}

.form-modal__radio-buttons {
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 21px;
  color: $grey;
  @media only screen and (max-width: 768px) {
    font-size: 14px;
    line-height: 16px;
  }
}

.form-modal__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.form-modal__field-label {
  width: 30%;
  font-size: 18px;
  line-height: 21px;
  color: $grey;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.form-modal__field-input {
  width: 65%;
  height: 45px;
  border: 2px solid $light-grey;
  border-radius: 5px;
  padding: 0px 10px;
  color: $grey;
  @media only screen and (max-width: 768px) {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    height: 30px;

    &::-webkit-input-placeholder {
      color: $placeholder;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1150px) {
    font-size: 14px;
    line-height: 16px;
  }
  @media only screen and (min-width: 1150px) {
    font-size: 16px;
    line-height: 18px;
    &::-webkit-input-placeholder {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.form-modal__field-input:focus {
  outline: none;
}

.form-modal__field-input_textarea {
  width: 65%;
  height: 80px;
  border: 2px solid $light-grey;
  border-radius: 5px;
  padding: 0px 10px;
  @media only screen and (max-width: 768px) {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    height: 60px;

    &::-webkit-input-placeholder {
      color: $placeholder;
    }
  }
}

.form-modal__button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-modal__button {
  width: 251px;
  height: 58px;
  font-size: 17px;
  line-height: 20px;
  margin: 30px 0;
}

.form-modal_thanks {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 768px) {
    padding: 20px 10px;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
  }
  @media only screen and (min-width: 768px) and (max-width: 1150px) {
    width: 60%;
  }
}

.form-modal_thanks-text {
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  padding: 30px 0;
  color: $dark_pink;
  @media only screen and (max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.form-modal_thanks-icon {
  height: 40px;
  padding: 30px;
}
