.about-content {
	background: linear-gradient(#F6F3F7, #FFF, #FFF);
}

.about-content__wrapper {
	padding-top: 120px;
	justify-content: space-between;
	flex-wrap: wrap;
	@media only screen and (max-width: 768px) {
		padding-top: 60px;
	}
}

.about-content__main-text {
	display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 55%;
  color: #746983;
  font-size: 16px;
  padding: 2.5%;
  @media only screen and (max-width: 1400px) {
  	width: 45%;
	}
	@media only screen and (max-width: 768px) {
		order: 2;
		width: 95%;
		font-size: 19px;
	}
}

.about-content__name {
	margin: 0 auto;
	width: 250px;
}

.about-content__city {
	margin: 0 auto;
	opacity: 0.6;
}

.about-content__accent-items {
	margin: 30px auto;
}

.about-content__accent-item {
	font-weight: 600;
	position: relative;
	&::before {
		content: url(/img/dot-yellow.svg);
		position: absolute;
    left: -16px;
	}
}

.about-content__main-photo {
	display: flex;
	justify-content: center;
	margin: auto;
	img {
		height: 600px;
		width: auto;
	}
	@media only screen and (max-width: 1400px) {
		width: 46%;
	}
	@media only screen and (max-width: 1050px) {
		img {
			height: 500px;
		}
	}
	@media only screen and (max-width: 768px) {
		order: 1;
		img {
			height: 400px;
			margin-bottom: 30px;
		}
	}
}

.about-content__bird {
	order: 3;
	width: 100%;
	text-align: center;
  margin: 40px;
  img {
  	margin: 0 auto;
  }
  @media only screen and (max-width: 768px) {
		width: auto;
	}
}

.about-content__rewards {
	order: 4;
	text-align: center;
	margin-bottom: 40px;
	img {
		margin: 20px;
		width: 90%;
	}
	@media only screen and (min-width: 1050px) {
		img {
			width: 70%;
		}
	}
}
