.education-content {
	background: linear-gradient(#F6F3F7, #FFF, #FFF);
	position: relative;
	@media only screen and (max-width: 768px) {
		padding: 50px 0;
	}
}

.education-content__wrapper {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	@media only screen and (max-width: 768px) {
		flex-direction: column;
	}
	@media only screen and (min-width: 1150px) {
		width: 1000px;
	}
	@media only screen and (min-width: 2150px) {
		width: 1250px;
	}
}

.education-content__sidebar {
	padding: 120px 0;
	display: flex;
	flex-direction: column;
	@media only screen and (max-width: 768px) {
		padding: 40px 0;
	}
}

.sidebar__button {
	width: 80%;
  align-self: center;
}

.education-content__information {
	padding: 120px 0 0 40px;
  width: 75%;
  @media only screen and (max-width: 768px) {
  	padding: 0;
  	width: 100%;
  }
}

.individual-page__introduction {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
	margin-bottom: 60px;
	@media only screen and (max-width: 1024px) {
		flex-direction: column;
	}
}

.individual-page__main-image {
	padding: 0 15px;
	background-image: url(/img/individual-main-image.jpg);
	background-size: cover;
	width: 45%;
	@media only screen and (max-width: 1024px) {
		width: 40%;
		margin: 0 auto 40px;
		height: 300px;
	}
	@media only screen and (max-width: 500px) {
		width: 50%;
	}
}

.individual-page__main-info {
	text-align: center;
	padding: 0 15px 0 0;
	width: 55%;
	color: #746983;
	@media only screen and (max-width: 1024px) {
		width: 90%;
		margin: 0 auto;
	}
	@media only screen and (min-width: 2150px) {
		font-size: 17px;
	}
}

.individual-page__text {
	p {
		margin: 0;
	}
	img {
		margin-top: 15px;
		opacity: 0.8;
	}
}

.individual-page__art-types {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.individual-page__art-types-header {
	color: $accent;
	text-transform: uppercase;
	font-weight: 300;
}

.individual-page__list {
	list-style-type: disc;
	text-align: left;
	margin: 0;
}

.individual-page__list-item {
	margin-top: 10px;
}

.artblock {
	border: 1px solid rgba(#746983, 0.3);
	height: 225px;
	margin-bottom: 60px;
	display: flex;
	flex-wrap: nowrap;
	@media only screen and (max-width: 768px) {
  	height: auto;
  	flex-direction: column;
  	border: none;
  }
  @media only screen and (min-width: 2150px) {
		height: 300px;
	}
}

.artblock__image {
	width: 225px;
	background-size: cover;
	flex-shrink: 0;
	@media only screen and (max-width: 768px) {
  	height: 225px;
  	align-self: center;
  	margin-top: 20px;
  }
  @media only screen and (min-width: 2150px) {
		width: 300px;
	}
}

.individual-page__firstblock .artblock__image {
	background-image: url(/img/batikimage.png);
}

.individual-page__secondblock .artblock__image {
	background-image: url(/img/paintingimage.png);
}

.individual-page__thirdblock .artblock__image {
	background-image: url(/img/homepage-free.jpg);
}

.individual-page__fourthblock .artblock__image {
	background-image: url(/img/watercolorimage.jpg);
}

.individual-page__fifthblock .artblock__image {
	background-image: url(/img/chinese.jpg);
}

.individual-page__sixthblock .artblock__image {
	background-image: url(/img/sand.jpg);
}


.artblock__description {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 30px 0;
	text-align: center;
	@media only screen and (min-width: 2150px) {
		padding: 40px 60px 0;
	}
}

.artblock__text {
	color: #746983;
	@media only screen and (min-width: 2150px) {
		font-size: 18px;
		margin: auto 0;
	}
}